{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel vulputate tortor. Pellentesque dolor quam, ultricies in risus id, ullamcorper fringilla tortor. Nullam eleifend facilisis neque, sit amet finibus metus cursus in. Aenean nec congue dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed porta scelerisque sem, eget egestas elit vestibulum id. Nulla facilisi. Nunc finibus consequat sem in feugiat. In imperdiet leo sed augue viverra, quis porta arcu consequat. Sed finibus convallis risus quis sodales.</p>
  </div>
{% endblock %}
