{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">

  {% if not firstName: %}
    <p>Please fill the following form. Your information will not be saved in any database</p>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.firstName.label }} {{ form.firstName() }}
      {{ form.lastName.label }} {{ form.lastName() }}
      {{ form.submit() }}
    </form>
  {% else: %}
    <p>{{ firstName }} {{ lastName }}, thankyou for signing up!</p>
  {% endif %}

</div>
{% endblock %}
