{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron">
    <p>loremLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum faucibus sodales. Phasellus dignissim ut quam et varius. Proin ex quam, elementum id magna ut, mollis dictum quam. Sed auctor consequat purus, eu scelerisque augue semper vitae. In eget quam vulputate, mattis dui a, convallis eros. Nunc mi augue, blandit in ante et, porttitor sodales felis. Suspendisse a lectus non enim condimentum viverra id eu mauris. Nulla euismod leo non urna pretium elementum. In sagittis luctus lacus, venenatis sagittis elit egestas at. Nulla dapibus nisi quis ornare sodales. Nulla lectus dui, fringilla ac dictum non, congue sit amet nisi.</p>
  </div>
{% endblock %}
