<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
      <p>Dummy Lorem ipsum paragraphs used.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel vulputate tortor. Pellentesque dolor quam, ultricies in risus id, ullamcorper fringilla tortor. Nullam eleifend facilisis neque, sit amet finibus metus cursus in. Aenean nec congue dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed porta scelerisque sem, eget egestas elit vestibulum id. Nulla facilisi. Nunc finibus consequat sem in feugiat. In imperdiet leo sed augue viverra, quis porta arcu consequat. Sed finibus convallis risus quis sodales.</p>
      <p>Suspendisse convallis finibus velit, ornare mollis lacus suscipit nec. Proin facilisis mi et magna dapibus fermentum. Aenean finibus, lorem at pulvinar luctus, risus risus feugiat eros, eu hendrerit nisl nisl vel dolor. Aenean nisi dolor, mollis a velit nec, luctus euismod justo. Aliquam et elit non turpis feugiat luctus. Curabitur tempor est vitae quam dictum, vel lobortis ligula imperdiet.</p>
      <span><a href="/page2">Next page</a></span> | <span><a href="/">Home</a></span>
    </div>
  </body>
</html>
